<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::page_head('Đăng ký tài khoản - MyShop ','none')">
</head>

<body>
	
	<div class="container-fluid ">
		<div th:replace="navigation::header_menu"></div>
				
		<div class="my-3 text-center">
			<h2>[[${pageTitle}]]</h2><h2>[[${email}]]</h2>
		</div >
		
		<div class="mt-4">
			<form th:action="@{/create_customer}" method="post" style="max-width: 1000px; margin: 0 auto" th:object="${customer}" 
			 id="formc" onsubmit="return checkEmailUnique(this);">>
				<div class="border border-secondary rounded p-3">
				<input type="hidden" th:field="*{id}"/>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">E-mail:</label>
						<div class="col-sm-8">
							<input type="email" class="form-control" th:field="*{email}" required minlength="5" maxlength="128"/> 
							
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Mật khẩu:</label>
						<div class="col-sm-8">
							<div>
							<input type="password" class="form-control" th:field="*{password}"  minlength="8" maxlength="128" oninput="return checkPassworkAddNewAcc();"> 
							</div>
							<div>
								<small style="color: red;" id="lenghtPassworde"></small>
								<small style="color: darkgreen;" id="lenghtPasswords"></small>
							</div>
							
							<div>
								<small style="color: red;" id="specialPassworde"></small>
								<small style="color: darkgreen;" id="specialPasswords"></small>
							</div>
							
							<div>
								<small style="color: red;" id="numberPassworde"></small>
								<small style="color: darkgreen;" id="numberPasswords"></small>
							</div>
							
							<div>
								<small style="color: red;" id="uppercasePassworde"></small>
								<small style="color: darkgreen;" id="uppercasePasswords"></small>
							</div>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Nhập lại mật khẩu:</label>
						<div class="col-sm-8">
							<div>
								<input type="password" class="form-control"   minlength="8" maxlength="128" id="confirmPassword" oninput="return checkPassworkAddNewAcc();"> 
							</div>
							<div> <small style="color: red;" id="confirmPassworde"></small></div>
							<div> <small style="color: darkgreen;" id="confirmPasswords"></small></div>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Họ:</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" th:field="*{lastName}" required minlength="1" maxlength="128"> 
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Tên:</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" th:field="*{firstName}" required minlength="1" maxlength="128"> 
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Số điện thoại:</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" th:field="*{phoneNumber}" required minlength="1" maxlength="128"> 
						</div>
					</div>
					
					<div class="form-group row">
						<span class="col-sm-4"><b>Địa chỉ:</b></span>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Tỉnh/thành phố:</label>
						<div class="col-sm-8">
							<select class="form-control" th:field="*{province}">
								<th:block th:each="province : ${listProvincies}">
									<option th:value="${province.id}">[[${province.name}]]</option>
								</th:block>
							</select>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Quận/huyện:</label>
						<div class="col-sm-8">
							<select class="form-control" th:field="*{district}">
								
							</select>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Địa chỉ cụ thể:</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" th:field="*{addressLine}" required minlength="1" maxlength="128"> 
						</div>
					</div>
					
					<div class="text-center">
						<input type="submit" value="Lưu" class="btn btn-primary m-3 px-5" disabled id="btnSubmitAdd"/>
						<input type="button" value="Quay lại" class="btn btn-secondary m-3 px-4" id="buttonCancel"/>
					</div>
				</div>
			</form>
		</div>
		
		<div th:replace="modal_fragments::modal_dialog"></div>
		<div th:replace="navigation::footer_menu"></div>
		<div th:replace="fragments::footer"></div>
		
		<script type="text/javascript">
		moduleURL="[[@{/products}]]";
		contextPath = "[[@{/}]]";
		
		
		function showModalDialog(title,message){
			$("#modalTitle").text(title);
			$("#modalBody").text(message);
			$("#modalDialog").modal();
		}
		</script>
		<script th:src="@{/js/customer_form.js}"></script>
	</div>
	
</body>
</html>