<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments::page_head('Đăng nhập My Shop','none')"></head>
<body>
	<div class="container-fluid ">
		
		<div class="text-center mb-4" >
			<img class="img-fluid my-3"  width="200" height="200" alt="" th:src="@{${SITE_LOGO}}">
		
		<form th:action="@{/forgot_password}" method="post" style="max-width: 450px;margin: 0 auto;">
				
			<div class="border border-secondary rounded p-3  lead">
				
				<h3>  Thay đổi mật khẩu </h3>
				
				<div th:if="${messageError !=null}" class="alert alert-danger text-center my-2">
					[[${messageError}]]
				</div>
				<div th:if="${message !=null}" class="alert alert-success text-center my-2">
					[[${message}]]
				</div>
				
				<div class="my-4">
					<p> Vui lòng nhập email bạn dùng để đăng nhập </p> 
					<input type="email" name="email" class="form-control" placeholder="Nhập email của bạn" required="required" autofocus="autofocus"/> 
				</div>
				
				<input type="submit" class="btn btn-primary" value="Tiếp theo"  />
			</div>
		
		</form>
		<div th:replace="fragments::footer"></div>
	</div>
	</div>
</body>
</html>