<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments::page_head('Đăng nhập My Shop','none')"></head>
<body>
	<div class="container-fluid ">
		
		<div class="text-center mb-4" >
			<img class="img-fluid my-3"  width="200" height="200" alt="" th:src="@{${SITE_LOGO}}">
		</div>
		<form th:action="@{/reset_password}" method="post" style="max-width: 650px;margin: 0 auto;">
				
			<div class="border border-secondary rounded p-3  ">
				<div class="text-center mb-4">
					<h3>  Thay đổi mật khẩu </h3>
				</div>
				
				
				<div th:if="${messageError !=null}" class="alert alert-danger text-center my-2">
					[[${messageError}]]
				</div>
				<div th:if="${message !=null}" class="alert alert-success text-center my-2">
					[[${message}]]
				</div>
				<input type="hidden"  th:value="${token}" name="token" />
				<div class="form-group row">
						<label class="col-sm-4 col-form-label">Mật khẩu:</label>
						<div class="col-sm-8">
							<div>
							<input type="password" class="form-control" id="password" name="password"  minlength="8" maxlength="128" oninput="return checkPassworkAddNewAcc();"> 
							</div>
							<div>
								<small style="color: red;" id="lenghtPassworde"></small>
								<small style="color: darkgreen;" id="lenghtPasswords"></small>
							</div>
							
							<div>
								<small style="color: red;" id="specialPassworde"></small>
								<small style="color: darkgreen;" id="specialPasswords"></small>
							</div>
							
							<div>
								<small style="color: red;" id="numberPassworde"></small>
								<small style="color: darkgreen;" id="numberPasswords"></small>
							</div>
							
							<div>
								<small style="color: red;" id="uppercasePassworde"></small>
								<small style="color: darkgreen;" id="uppercasePasswords"></small>
							</div>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Nhập lại mật khẩu:</label>
						<div class="col-sm-8">
							<div>
								<input type="password" class="form-control"   minlength="8" maxlength="128" id="confirmPassword" oninput="return checkPassworkAddNewAcc();"> 
							</div>
							<div> <small style="color: red;" id="confirmPassworde"></small></div>
							<div> <small style="color: darkgreen;" id="confirmPasswords"></small></div>
						</div>
					</div>
					<div class="text-center">
						<input type="submit" value="Cập nhật" class="btn btn-primary m-3 px-5" disabled id="btnSubmitAdd"/>
					</div>
			</div>
		
		</form>
		<div th:replace="fragments::footer"></div>
		<script type="text/javascript">
		moduleURL="[[@{/products}]]";
		contextPath = "[[@{/}]]";
		
		
		
		</script>
		<script th:src="@{/js/customer_form.js}"></script>
	</div>
	
</body>
</html>