<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::page_head('Quản lý thương hiệu - MyShop Admin','none')">

</head>
<body>
	<div class="container-fluid ">
		<div th:replace="navigation::menu"></div>
				
		<div class="my-3 text-center">
			<h2>[[${pageTitle}]]</h2>
		</div >

		<div class="mt-4">
			<form th:action="@{/brands/save}" method="post" style="max-width: 1000px; margin: 0 auto" th:object="${brand}" 
			onsubmit="return checkUnique(this)" id="formb" enctype="multipart/form-data">
				<div class="border border-secondary rounded p-3">
				<input type="hidden" th:field="*{id}"/>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Tên thương hiệu:</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" th:field="*{name}" required minlength="1" maxlength="128"/> 
						</div>
					</div>
					
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Danh mục sản phẩm (Giữ phím CTRL để chọn nhiều danh mục):</label>
						<div class=" col-sm-8">
							<select  class="form-control" th:field="*{categories}" multiple="multiple" required="required"
							style="resize:vertical;height: 200px " >
								
								<th:block th:each="cat : ${listCategory}">
									<option th:value="${cat.id}">[[${cat.name}]] </option>
									
								</th:block>
 							</select>								
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Danh mục sản phẩm đã chọn:</label>
						<div class="col-sm-8">
							<div id="chosenCategories"></div>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Logo:</label>
						
						<div class=" col-sm-8">							
							<input type="file" name="images" id="fileImage" class="m-2  " accept="image/png, image/jpeg"/>
																					
						</div>
						
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label"></label>
						
						<div class=" col-sm-8">							
							
							<img alt="anhdaidien"  class="img-fluid" id="thumbnail" th:src="@{${brand.imagePath}}" 
							style="width: 350px; height: 250px" >																
						</div>
					</div>
					
					<div class="text-center">
						<input type="submit" value="Lưu" class="btn btn-primary m-3 px-5"/>
						<input type="button" value="Quay lại" class="btn btn-secondary m-3 px-4" id="buttonCancel"/>
					</div>
				</div>
			</form>
		</div>
		
		
		<div th:replace="modal_fragments::modal_dialog"></div>
		<div th:replace="fragments::footer"></div>
		
	</div>
	<script type="text/javascript">
	$(document).ready(function(){
		$("#buttonCancel").on("click",function(){
			window.location="[[@{/brands}]]"
		});
		
	})	;
	function checkUnique(formb){
		url="[[@{/brands/check_unique}]]"
		brandId=$("#id").val();
		brandName=$("#name").val();
		
		csrfValue=$("input[name='_csrf']").val();
		params={id:brandId, name: brandName,_csrf: csrfValue};
		$.post(url, params, function(response){
			if(response=="Ok"){
				formb.submit();
				
			}else if (response=="DuplicateName"){
				showModalDialog("Lỗi","Tên thương hiệu: "+brandName+" đã tồn tại");
			}
		});
		return false;
	}
	
	$(document).ready(function () {
		dropdownCategories = $("#categories");
		divChosenCategories = $("#chosenCategories");

		dropdownCategories.change(function () {
			divChosenCategories.empty();
			showChosenCategories();
		});

		showChosenCategories();
	});

	function showChosenCategories() {
		dropdownCategories.children("option:selected").each(function () {
			selectedCategory = $(this);
			catId = selectedCategory.val();
			catName = selectedCategory.text().replace(/-/g, "");

			divChosenCategories.append("<span class='badge badge-secondary m-1'>" + catName + "</span>");
		});
	}
	
	
	</script>
	<script th:src="@{/js/common_form.js}"></script>
</body>	
</html>