<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:fragment="page_head(title,remove)" th:remove="${remove}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
	<title>[[${title}]] - [[${SITE_NAME}]]</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	 <style type="text/css">
    
    
    a:hover {color: #FFCC00}
    a:active {color: #FF00CC}
     </style>
</head>

<body>
	
	<th th:fragment="column_link(table,fieldName,cLabel)" class="text-center">
							<a class="text-white" 
							th:href="@{'/'+${table}+'/page/1?sortField='+${fieldName}+'&sortDir='+${sortField!=fieldName?sortDir:reverseSortDir }+'&keyword='+${keyword}+${categoryId!=null? '&categoryId='+categoryId : ''}}">
							[[${cLabel}]]
							</a>
							
							<span th:if="${sortField==fieldName}"
							th:class="${sortDir=='asc'? 'fas fa-sort-down' : 'fas fa-sort-up'}"></span>
						</th>
	
	
	<div th:fragment="footer" class="text-center m-3">
		<p> [[${COPYRIGHT}]]</p>
	</div>		
	+${sortField!=null? '&sortField='+sortField : ''}
	<a th:fragment="page_link(moduleUrl,pageNum,Label)" class="page-link" 
					th:href="@{'/'+${moduleUrl}+'/page/'+${pageNum}+'?sortDir='+${sortDir}+${sortField!=null? '&sortField='+sortField : ''}+${keyword!=null? '&keyword='+keyword : ''}+${categoryId!=null? '&categoryId='+categoryId : ''}}" aria-label="Previous">
			        <span aria-hidden="true">[[${Label}]]</span>
			       
   	</a>	
   	
   	<div th:fragment="form_search_nav">
   			<form th:action="@{/logout}" method="post"	th:hidden="true" name="logoutForm">
				<input type="submit" />
			</form>
			<nav class="navbar navbar-expand bg-light">
				<div class=" navbar-collapse">
					<form th:action="@{/search}" method="get" class="form-inline m-3">				
						&nbsp;&nbsp;
						<input type="search" name="keyword" class="form-control" required th:value="${keyword}" 
						 placeholder="Tìm kiếm sản phẩm" />
						&nbsp;&nbsp;
						<input type="submit" value="Tìm kiếm" class="btn btn-primary" />
					
					</form>
					<ul class="navbar-nav">
						<th:block sec:authorize="isAuthenticated()">
							<li class="nav-item">
								<b><a class="nav-link" th:href="@{/customer}" >Khách hàng:	</a></b>
							</li>
							<li class="nav-item">
								<b><a class="nav-link" th:href="@{/account_details(redirect=defaul)}" sec:authentication="principal.fullname"></a></b>
							</li>
						
						
						<li class="nav-item">
							<a class="nav-link"  href="">Địa chỉ</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link"  href="">Đợn đặt hàng</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link"  th:href="@{/cart}"><i class="fa-solid fa-cart-shopping fa-lg" style="color: #4a7bde;"></i>Giỏ hàng</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" id="logoutLink" href="">Đăng xuất</a>
						</li>
						</th:block>
					</ul>
					
				</div>
			</nav>
			
			
			
	</div>	
	
   	<div th:fragment="logged_nav">
   			<form th:action="@{/logout}" method="post"	th:hidden="true" name="logoutForm">
				<input type="submit" />
			</form>
			<nav class="navbar navbar-expand bg-light">
				<div class=" navbar-collapse">
					
					<ul class="navbar-nav">
						<th:block sec:authorize="isAuthenticated()">
							<li class="nav-item">
								<b><a class="nav-link" th:href="@{/customer}" >Khách hàng:	</a></b>
							</li>
							<li class="nav-item">
								<b><a class="nav-link" th:href="@{/account_details(redirect=defaul)}" sec:authentication="principal.fullname"></a></b>
							</li>
						
						
						<li class="nav-item">
							<a class="nav-link"  href="">Địa chỉ</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link"  href="">Đợn đặt hàng</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link"  th:href="@{/cart}"><i class="fa-solid fa-cart-shopping fa-lg" style="color: #4a7bde;"></i>Giỏ hàng</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" id="logoutLink" href="">Đăng xuất</a>
						</li>
						</th:block>
					</ul>
					
				</div>
			</nav>
			
			
			
	</div>		
	
	<div th:fragment="currency_fragment(price)" th:remove="tag">
		<span th:if="${CURRENCY_SYMBOL_POSITION =='before'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]&nbsp;[[${#numbers.formatDecimal(price,1,THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]]</span>
		<span th:if="${CURRENCY_SYMBOL_POSITION =='after'}" th:remove="tag">[[${#numbers.formatDecimal(price,1,THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]]&nbsp;[[${CURRENCY_SYMBOL}]]</span>
		
	</div>	
	
	<div th:fragment="format_time(time)" th:remove="tag">
		<span th:text="${#dates.format(time,'yyyy-MM-dd HH:mm:ss')}"></span>
	</div>	
		
</body>
</html>