<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head
	th:replace="fragments :: page_head('Orders - Shopme Admin', 'none')" />

<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		<div>
			<h2>Manage Orders</h2>
		</div>

		<div>
			<form th:action="@{/shipping/page/1}" class="form-inline m-3">
				<input type="hidden"  name="sortField" th:value="${sortField}"/>
				<input type="hidden"  name="sortDir" th:value="${sortDir}"/>
				Tìm kiếm:&nbsp;
				<input type="search" name="keyword" class="form-control" required th:value="${keyword}" />
				&nbsp;&nbsp;
				<input type="submit" value="Tìm kiếm" class="btn btn-primary" />
				&nbsp;&nbsp;
				<a  class="btn btn-secondary" 
				th:href="@{'/shipping/page/'+${pageNum}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+'&keyword='}" >
				 Hủy</a>
			</form>
		</div>

		<div>
			<th:block th:each="order : ${listAllOrders}">
				<div class="row m-1">
					<div class="card">
						<div class="card-header">
							<div class="row">
								<div class="col">
									<span>Order ID #[[${order.id}]]</span>
								</div>
								<div class="col">
									<div class="float-right">
										<a class="fas fa-file-alt fa-2x icon-green linkOrderDetail"
											th:href="@{'/orders/detail/' + ${order.id}}"
											title="View details of this order"></a>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div>
								<i class="fas fa-user"></i> <b>[[${order.recipientName}]]</b>
							</div>
							<div>
								<i class="fas fa-home"></i> [[${order.getAddress}]]
							</div>
							<div>
								<i class="fas fa-phone-alt"></i> [[${order.phoneNumber}]]
							</div>
							
							<div th:replace="fragments :: currency_fragment(${order.total})"></div>
							
							</div>
							<div>&nbsp;</div>
							<div class="row">
								<div
									th:replace="orders/order_status_fragment :: content(${order.picked}, 'PICKED', 'fa-people-carry')">
								</div>

								<div
									th:replace="orders/order_status_fragment :: content(${order.shipping}, 'SHIPPING', 'fa-shipping-fast')">
								</div>

								<div
									th:replace="orders/order_status_fragment :: content(${order.delivered}, 'DELIVERED', 'fa-box-open')">
								</div>

								<div
									th:replace="orders/order_status_fragment :: content(${order.returned}, 'RETURNED', 'fa-undo')">
								</div>

							</div>
						</div>
					</div>
				</div>
			</th:block>
		

		<div class="text-center m-1" th:if="${totalItems>0}">
			<span>Từ đơn hàng thứ [[${startCount}]] đến thứ [[${endCount}]] trong số [[${totalItems}]] đơn hàng</span>
		</div>
		<div class="text-center m-1" th:unless="${totalItems>0}">
			<span>Không tìm thấy đơn hàng</span>
		</div>
		<div th:if="${totalPages>0}">
			<nav >
			  <ul class="pagination justify-content-center">
			  
			    <li class="page-item">
			      <a th:replace="fragments::page_link('shipping','1','&laquo;')"></a>
			    </li>
			    
			    <li class="page-item" th:unless="${pageNum==1}">
			      <a th:replace="fragments::page_link('shipping',${pageNum-1},'&lt;')"></a>
			    </li>
			    
			    <li th:class="${pageNum!=i? 'page-item' : 'page-item active' }" th:each="i:${#numbers.sequence(1,totalPages)}">
			    <a th:replace="fragments::page_link('shipping',${i},${i})"></a>
			    </li>
			   
			    <li class="page-item" th:unless="${pageNum==totalPages}">
			      <a th:replace="fragments::page_link('shipping',${pageNum+1},'&gt;')"></a>
			    </li>
			    <li class="page-item" >
			      <a th:replace="fragments::page_link('shipping',${totalPages},'&raquo')"></a>
			    </li>
			  </ul>
			</nav>
		</div>

		<div class="modal fade text-center" id="confirmModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Cập nhật trạng thái đơn hàng</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<div class="modal-body">
						<span id="confirmText"></span>
					</div>

					<div class="modal-footer">
						<a class="btn btn-success" href="" id="yesButton">Đồng ý</a>
						<button type="button" class="btn btn-danger" id="noButton"
							data-dismiss="modal">Không</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="orderDetailModal">
			<div class="modal-dialog modal-xl">
				<div class="modal-content"></div>
			</div>
		</div>

		<div th:replace="fragments :: footer"></div>
		<div th:replace="modal_fragments::modal_dialog"></div>
	
	
	<script type="text/javascript">
		moduleURL = "[[@{/shipping}]]";
		var csrfHeaderName = "[[${_csrf.headerName}]]";
		var csrfValue = "[[${_csrf.token}]]";

		$(document).ready(function () {
			$("[name='keyword']").attr("placeholder", "Type #number to search by Order ID");
			handleLinkViewOrderDetails();
		});

		function handleLinkViewOrderDetails() {
			$(".linkOrderDetail").on("click", function (e) {
				e.preventDefault();
				linkDetailURL = $(this).attr("href");
				$("#orderDetailModal").modal("show").find(".modal-content").load(linkDetailURL);
			});
		}
	</script>
	<script th:src="@{/js/orders_shipper.js}"></script>
	<script th:src="@{/js/common.js}"></script>
</div>
</body>

</html>
