<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::page_head('Thông tin cá nhân- MyShop Admin','none')">

</head>
<body>
	<div class="container-fluid ">
		<div th:replace="navigation::menu"></div>
				
		<div class="my-3 text-center">
			<h2>Thông tin cá nhân</h2>
		</div >

		<div th:if="${message !=null}" class="alert alert-success text-center">
			[[${message}]]
		</div>

		<div class="mt-4">
			<form th:action="@{/account/edit}" method="post" style="max-width: 1000px; margin: 0 auto" th:object="${user}"  id="forma"
			enctype="multipart/form-data">
				<div class="border border-secondary rounded p-3">
				<input type="hidden" th:field="*{id}"/>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">E-mail:</label>
						<div class="col-sm-8">
							<input type="email" class="form-control" th:field="*{email}" readonly="readonly" style="color: red;"> 
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Vai trò:</label>
						<div class=" col-sm-8" style="color: red;">
							<span>[[${user.roles}]]</span>									
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Họ:</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" th:field="*{lastName}" required minlength="1" maxlength="128"> 
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Tên:</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" th:field="*{firstName}" required minlength="1" maxlength="128"> 
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Mật khẩu:</label>
						<div class="col-sm-8">
							
							<input type="password" class="form-control" th:field="*{password}"  minlength="8" maxlength="128"
							placeholder="Vui lòng để trống nếu không muốn đổi mật khẩu"
								/> 
							
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Xác nhận mật khẩu:</label>
						<div class="col-sm-8">
							
							<input type="password" class="form-control"   minlength="8" maxlength="128"
							id="confirmPassword"
							placeholder="Vui lòng để trống nếu không muốn đổi mật khẩu"
							oninput="checkPasswordMatch(this)"> 
							
						</div>
					</div>
					
					<div class="form-group row">
						
						<div class=" col-sm-8">							
							<input  th:field="*{enabled}" class="m-2 " type="hidden" />
																					
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Ảnh đại diện:</label>
						<div class=" col-sm-8">							
							<input type="file" name="image" id="fileImage" class="m-2  " accept="image/png, image/jpeg"/>
							<img alt="anhdaidien" th:src="@{${user.getPhotosPath}}" class="img-fluid" id="thumbnail"
							>																
						</div>
					</div>
					
					<div class="text-center">
						<input type="submit" value="Lưu" class="btn btn-primary m-3 px-5"/>
						<input type="button" value="Quay lại" class="btn btn-secondary m-3 px-4" id="buttonCancel"/>
					</div>
				</div>
			</form>
		</div>
		
		<div class="modal fade text-center" id="modalDialog">
			<div class="modal-dialog">
				<div class=modal-content>
					<div class="modal-header">
						<h4 class="modal-title" id="modalTitle">Lỗi</h4>
						<button type="button" class="close" data-dismiss="modal">&times; </button>
					</div>
					<div class="modal-body">
						<span id="modalBody"></span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		
		<div th:replace="fragments::footer"></div>
		
	</div>
	<script type="text/javascript">
	
	function checkPasswordMatch(confirmPassword){
		if(confirmPassword.value!=$("#password").val()){
			confirmPassword.setCustomValidity("Mật khẩu không đúng");
		}else{
			confirmPassword.setCustomValidity("");
		}
	}
	</script>
	<script th:src="@{/js/common_form.js}"></script>
</body>	
</html>